@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        /* @apply bg-stone-900 */
        /* @apply bg-neutral-900 */
        /* @apply bg-zinc-900 */
        /* @apply bg-gray-900 */
        /* @apply bg-slate-900 */
        background-color: #060606;
    }


}

.backface-hidden{
    backface-visibility: hidden;
}
footer{
    background-image: url(../public/footer-icon.png);
    background-size: auto 100%;
}
.transition-left {
    transition: transform .5s cubic-bezier(0, 0.06, 0.05, 0.75);
}

.bg-image-footer{
    background-image: url(../public/image-icons.png);
    background-size: cover;
    background-position: 50% -5px;
}
.styled-scrollbar::-webkit-scrollbar {
    width: 1em;
    height: 3px;
    cursor: pointer;
}

.styled-scrollbar::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #ddd;
}

.styled-scrollbar::-webkit-scrollbar-thumb {
    background-color: #5c5c5c;
    border-radius: 10px;
}